In [161]:
import os, glob
import pandas as pd
import copy

In [162]:
# THIS WORKS, BUT ONLY DOES ACCIDENT!  SEE BELOW...


path = "/home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/ACCIDENT/"

all_files = glob.glob(os.path.join(path, "*.CSV"))

all_df = []
for f in all_files:
    print(f)
    df = pd.read_csv(f, sep=',')
    df['file'] = f.split('/')[-1]
    all_df.append(df)
    # Need name (sep out path and extension)
    sep1 = '__'
    df_name = f.split(sep1, 1)[-1]
    sep2 = '.CSV'
    df_name = df_name.split(sep2, 1)[0]

exec('{} = pd.concat(all_df, ignore_index=True, sort=True)'.format(df_name))
print(df_name)))

SyntaxError: invalid syntax (<ipython-input-162-148b33a31a91>, line 21)

In [163]:
# #########################################
# Create a dataframe for each folder
# #########################################

directory_to_check = "/home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/"

def createDF_function(directory):
    print("")
    print("Listing: " + directory)
    #print("\t-" + "\n\t-".join(os.listdir("."))) # List current working directory
    
    all_files = glob.glob(os.path.join(directory, "*.CSV"))

    all_df = []
    for f in all_files:
        print(f)
        df = pd.read_csv(f, sep=',')
        df['file'] = f.split('/')[-1]
        all_df.append(df)
        # Need name (sep out path and extension)
        sep1 = '__'
        df_name = f.split(sep1, 1)[-1]
        sep2 = '.CSV'
        df_name = df_name.split(sep2, 1)[0]

    print(df_name)
    #print(all_df)
    exec('{} = pd.concat(all_df, ignore_index=True, sort=True)'.format(df_name))

    
# Get all the subdirectories of directory_to_check recursively and store them in a list:
directories = [os.path.abspath(x[0]) for x in os.walk(directory_to_check)]
directories.remove(os.path.abspath(directory_to_check)) # If you don't want your main directory included

for i in directories:
    os.chdir(i)         # Change working Directory
    #createDF_function(i)      # Run your function
    print("")
    directory = i
    print("Listing: " + directory)
    #print("\t-" + "\n\t-".join(os.listdir("."))) # List current working directory
    
    all_files = glob.glob(os.path.join(directory, "*.CSV"))

    all_df = []
    for f in all_files:
        #print(f)
        df = pd.read_csv(f, sep=',')
        df['file'] = f.split('/')[-1]
        all_df.append(df)
        # Need name (sep out path and extension)
        sep1 = '__'
        df_name = f.split(sep1, 1)[-1]
        sep2 = '.CSV'
        df_name = df_name.split(sep2, 1)[0]

    print(df_name)
    #print(all_df)
    exec('{} = pd.concat(all_df, ignore_index=True, sort=True)'.format(df_name))
    #exec('{} = print(df_name.shape)'.format(df_name))

print("success")

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/DAMAGE
DAMAGE

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/MANEUVER
MANEUVER

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VEHICLE

/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (26,27,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (23,24,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

VEHICLE

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/DRIMPAIR
DRIMPAIR

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/NMCRASH
NMCRASH

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VEVENT
VEVENT

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/SAFETYEQ
SAFETYEQ

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/ACC_AUX
ACC_AUX

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/NMIMPAIR
NMIMPAIR

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VIOLATN
VIOLATN

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/PBTYPE
PBTYPE

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VINDECODE

/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (31,42,49,50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (31,49,50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

VINDECODE

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/DISTRACT
DISTRACT

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/ACCIDENT
ACCIDENT

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/CEVENT
CEVENT

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VSOE
VSOE

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/PER_AUX
PER_AUX

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/PERSON
PERSON

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VEH_AUX
VEH_AUX

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/PARKWORK
PARKWORK

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/NMPRIOR
NMPRIOR

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/VISION
VISION

Listing: /home/home/Desktop/DS504/data/CRSS/COMBINEDCRSS/FACTOR
FACTOR
success

In [164]:
print(VEHICLE.shape)
print(MANEUVER.shape)
print(ACCIDENT.shape)
print(PERSON.shape)

(265879, 88)
(265883, 12)
(149923, 52)
(376902, 62)

In [165]:
##  THIS IS HOW TO EXPORT TO CSV

# https://www.geeksforgeeks.org/saving-a-pandas-dataframe-as-a-csv/

# ACCIDENT.to_csv('/home/home/Desktop/DS504/data/CRSS/test_df.csv', sep='\t')

# print("done")

In [179]:
ACCIDENT.columns

Index(['ALCHL_IM', 'ALCOHOL', 'CASENUM', 'CF1', 'CF2', 'CF3', 'DAY_WEEK',
       'EVENT1_IM', 'HARM_EV', 'HOUR', 'HOUR_IM', 'INT_HWY', 'LGTCON_IM',
       'LGT_COND', 'MANCOL_IM', 'MAN_COLL', 'MAXSEV_IM', 'MAX_SEV', 'SEV_ACC',
       'MINUTE', 'MINUTE_IM', 'MONTH', 'NO_INJ_IM', 'NUM_INJ', 'PEDS',
       'PERMVIT', 'PERNOTMVIT', 'PJ', 'PSU', 'PSUSTRAT', 'PSU_VAR', 'PVH_INVL',
       'REGION', 'RELJCT1', 'RELJCT1_IM', 'RELJCT2', 'RELJCT2_IM', 'REL_ROAD',
       'SCH_BUS', 'STRATUM', 'TYP_INT', 'URBANICITY', 'VE_FORMS', 'VE_TOTAL',
       'WEATHER', 'WEATHER1', 'WEATHER2', 'WEATHR_IM', 'WEIGHT', 'WKDY_IM',
       'WRK_ZONE', 'YEAR', 'file'],
      dtype='object')

In [175]:
# First, we need a new column for severe accident yes/no
# This the key column we want to model data on...


ACCIDENT.insert(18, 'SEV_ACC', 0)


ACCIDENT.loc[(ACCIDENT.MAX_SEV == 3) | (ACCIDENT.MAX_SEV == 4), "SEV_ACC"] = 1

In [177]:
# Test it

#ACCIDENT.loc[(ACCIDENT.MAX_SEV == 3) | (ACCIDENT.MAX_SEV == 4)]
             
ACCIDENT.loc[(ACCIDENT.SEV_ACC == 1)]

,ALCHL_IM,ALCOHOL,CASENUM,CF1,CF2,CF3,DAY_WEEK,EVENT1_IM,HARM_EV,HOUR,...,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WEATHR_IM,WEIGHT,WKDY_IM,WRK_ZONE,YEAR,file
3,2,2,201700000144,0,0,0,5,12,12,20,...,2,10,10,0,10,27.870445,5,0,2017,2017__ACCIDENT.CSV
6,1,1,201700000231,0,0,0,1,42,42,4,...,1,1,1,0,1,10.913289,1,0,2017,2017__ACCIDENT.CSV
30,2,2,201700000977,0,0,0,2,12,12,6,...,2,1,1,0,1,11.063483,2,0,2017,2017__ACCIDENT.CSV
37,2,2,201700001316,0,0,0,4,8,8,3,...,1,1,1,0,1,24.053780,4,0,2017,2017__ACCIDENT.CSV
38,2,2,201700001321,0,0,0,5,35,35,1,...,1,1,1,0,1,15.559874,5,0,2017,2017__ACCIDENT.CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149887,2,2,201801402262,0,0,0,4,12,12,13,...,2,1,1,0,1,33.219993,4,0,2018,2018__ACCIDENT.CSV
149898,2,9,201801402400,0,0,0,5,8,8,21,...,1,1,1,0,1,37.526765,5,0,2018,2018__ACCIDENT.CSV
149899,2,2,201801402421,0,0,0,1,12,12,10,...,4,1,1,0,1,33.219993,1,0,2018,2018__ACCIDENT.CSV
149915,2,2,201801402576,0,0,0,6,12,12,21,...,2,1,1,0,1,20.782117,6,0,2018,2018__ACCIDENT.CSV
149921,2,2,201801402629,0,0,0,6,12,12,17,...,2,1,1,0,1,16.071732,6,0,2018,2018__ACCIDENT.CSV

In [178]:
# Now let's reduce the columns in Accident to those ones we really care about...

#columns_i_want=['LISTPRICE', 'SOLDPRICE', 'ZIP', 'LISTDATE']
#dataset[columns_i_want].head()

ACCIDENT_TEST = ACCIDENT.drop(['pop'], axis=1)

NameError: name 'dataset' is not defined

In [114]:
print(DRIMPAIR.columns)

Index(['CASENUM', 'DRIMPAIR', 'PJ', 'PSU', 'PSUSTRAT', 'PSU_VAR', 'REGION',
       'STRATUM', 'URBANICITY', 'VEH_NO', 'WEIGHT', 'file'],
      dtype='object')

In [181]:
# Goal is to one hot encode impair values in DRIMPAIR

#One hot encoding
DRIMPAIR = pd.get_dummies(DRIMPAIR, columns=['DRIMPAIR'])
print (DRIMPAIR.shape)
DRIMPAIR.head()

(266195, 26)

,CASENUM,PJ,PSU,PSUSTRAT,PSU_VAR,REGION,STRATUM,URBANICITY,VEH_NO,WEIGHT,...,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,201700000117,305,64,23,64,4,3,1,1,29.270311,...,0,0,0,0,0,0,0,0,0,0
1,201700000117,305,64,23,64,4,3,1,2,29.270311,...,0,0,0,0,0,0,0,0,0,0
2,201700000119,305,64,23,64,4,6,1,1,62.100147,...,0,0,0,0,0,0,0,0,0,0
3,201700000119,305,64,23,64,4,6,1,2,62.100147,...,0,0,0,0,0,0,0,0,0,0
4,201700000119,305,64,23,64,4,6,1,3,62.100147,...,0,0,0,0,0,0,0,0,0,0

In [182]:
DRIMPAIR.columns

Index(['CASENUM', 'PJ', 'PSU', 'PSUSTRAT', 'PSU_VAR', 'REGION', 'STRATUM',
       'URBANICITY', 'VEH_NO', 'WEIGHT', 'file', 'DRIMPAIR_0', 'DRIMPAIR_1',
       'DRIMPAIR_2', 'DRIMPAIR_3', 'DRIMPAIR_4', 'DRIMPAIR_5', 'DRIMPAIR_6',
       'DRIMPAIR_7', 'DRIMPAIR_8', 'DRIMPAIR_9', 'DRIMPAIR_10', 'DRIMPAIR_95',
       'DRIMPAIR_96', 'DRIMPAIR_98', 'DRIMPAIR_99'],
      dtype='object')

In [116]:
# Next, we need to grouby the CASENUM - this is the index we'll be merging with the accident file.  
# We need to compress to one accident per row

grouped_by_type = DRIMPAIR.groupby("CASENUM")

In [117]:
#print (grouped_by_type.shape)
grouped_by_type.head()

,CASENUM,PJ,PSU,PSUSTRAT,PSU_VAR,REGION,STRATUM,URBANICITY,VEH_NO,WEIGHT,...,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,201700000117,305,64,23,64,4,3,1,1,29.270311,...,0,0,0,0,0,0,0,0,0,0
1,201700000117,305,64,23,64,4,3,1,2,29.270311,...,0,0,0,0,0,0,0,0,0,0
2,201700000119,305,64,23,64,4,6,1,1,62.100147,...,0,0,0,0,0,0,0,0,0,0
3,201700000119,305,64,23,64,4,6,1,2,62.100147,...,0,0,0,0,0,0,0,0,0,0
4,201700000119,305,64,23,64,4,6,1,3,62.100147,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266190,201600991811,163,41,22,41,4,10,1,1,357.694967,...,0,0,0,0,0,0,0,0,0,0
266191,201600991811,163,41,22,41,4,10,1,2,357.694967,...,0,0,0,0,0,0,0,0,0,0
266192,201600991821,160,41,22,41,4,8,1,1,234.268106,...,0,0,0,0,0,0,0,0,0,0
266193,201600991832,160,41,22,41,4,6,1,1,98.551521,...,0,0,0,0,0,0,0,0,0,0
266194,201600991832,160,41,22,41,4,6,1,2,98.551521,...,0,0,0,0,0,0,0,0,0,0

In [118]:
DRIMPAIR2 = DRIMPAIR.iloc[:100]

In [119]:
DRIMPAIR2.shape

(100, 26)

In [120]:
DRIMPAIR2.groupby("CASENUM").head()

,CASENUM,PJ,PSU,PSUSTRAT,PSU_VAR,REGION,STRATUM,URBANICITY,VEH_NO,WEIGHT,...,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,201700000117,305,64,23,64,4,3,1,1,29.270311,...,0,0,0,0,0,0,0,0,0,0
1,201700000117,305,64,23,64,4,3,1,2,29.270311,...,0,0,0,0,0,0,0,0,0,0
2,201700000119,305,64,23,64,4,6,1,1,62.100147,...,0,0,0,0,0,0,0,0,0,0
3,201700000119,305,64,23,64,4,6,1,2,62.100147,...,0,0,0,0,0,0,0,0,0,0
4,201700000119,305,64,23,64,4,6,1,3,62.100147,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,201700001551,440,28,11,28,3,6,1,2,52.970556,...,0,0,0,0,0,0,0,0,0,0
96,201700001598,448,28,11,28,3,3,1,1,24.822507,...,0,0,0,0,0,0,0,0,0,0
97,201700001598,448,28,11,28,3,3,1,2,24.822507,...,0,0,0,0,0,0,0,0,0,0
98,201700001598,448,28,11,28,3,3,1,3,24.822507,...,0,0,0,0,0,0,0,0,0,0
99,201700001606,448,28,11,28,3,10,1,1,207.410161,...,0,0,0,0,0,0,0,0,0,0

In [121]:
DRIMPAIR.iloc[:20]

,CASENUM,PJ,PSU,PSUSTRAT,PSU_VAR,REGION,STRATUM,URBANICITY,VEH_NO,WEIGHT,...,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,201700000117,305,64,23,64,4,3,1,1,29.270311,...,0,0,0,0,0,0,0,0,0,0
1,201700000117,305,64,23,64,4,3,1,2,29.270311,...,0,0,0,0,0,0,0,0,0,0
2,201700000119,305,64,23,64,4,6,1,1,62.100147,...,0,0,0,0,0,0,0,0,0,0
3,201700000119,305,64,23,64,4,6,1,2,62.100147,...,0,0,0,0,0,0,0,0,0,0
4,201700000119,305,64,23,64,4,6,1,3,62.100147,...,0,0,0,0,0,0,0,0,0,0
5,201700000124,305,64,23,64,4,9,1,1,181.168210,...,0,0,0,0,0,0,0,0,0,0
6,201700000124,305,64,23,64,4,9,1,2,181.168210,...,0,0,0,0,0,0,0,0,0,0
7,201700000144,261,49,21,49,4,3,1,1,27.870445,...,0,0,0,0,0,0,0,0,0,0
8,201700000144,261,49,21,49,4,3,1,2,27.870445,...,0,0,0,0,0,0,0,0,0,0
9,201700000154,261,49,21,49,4,10,1,1,236.352198,...,0,0,0,0,0,0,0,0,0,0
10,201700000154,261,49,21,49,4,10,1,2,236.352198,...,0,0,0,0,0,0,0,0,0,0
11,201700000162,261,49,21,49,4,2,1,1,27.015279,...,0,0,0,0,0,0,0,0,0,0
12,201700000231,454,78,10,78,3,4,1,1,10.913289,...,0,0,0,0,0,0,0,0,0,1
13,201700000251,454,78,10,78,3,9,1,1,154.962561,...,0,0,0,0,0,0,0,0,0,0
14,201700000251,454,78,10,78,3,9,1,2,154.962561,...,0,0,0,0,0,0,0,0,0,0
15,201700000254,454,78,10,78,3,10,1,1,207.414480,...,0,0,0,0,0,0,0,0,0,0
16,201700000254,454,78,10,78,3,10,1,2,207.414480,...,0,0,0,0,0,0,0,0,0,0
17,201700000286,466,78,10,78,3,7,1,1,129.207628,...,0,0,0,0,0,0,0,0,0,0
18,201700000286,466,78,10,78,3,7,1,2,129.207628,...,0,0,0,0,0,0,0,0,0,0
19,201700000328,466,78,10,78,3,9,1,1,154.962561,...,0,0,0,0,0,0,0,0,0,0

In [122]:
# https://datascience.stackexchange.com/questions/53410/combine-pandas-dataframe-rows-based-on-matching-data-and-boolean

#df.groupby(['year','ISO Week','organic'], as_index=False).agg({'Price':'mean', 'quantity':'sum'})


# Not using this one because weight added - grabbed 'first' entry in the groupby. Just good to know this can be done!
# DRIMPAIR2 = DRIMPAIR2.groupby(['CASENUM'], as_index=False).agg({'DRIMPAIR_5':'sum', 'DRIMPAIR_5':'sum', 'DRIMPAIR_6':'sum', 'DRIMPAIR_7':'sum', 'DRIMPAIR_8':'sum', 'DRIMPAIR_9':'sum', 'DRIMPAIR_10':'sum', 'DRIMPAIR_95':'sum', 'DRIMPAIR_96':'sum', 'DRIMPAIR_98':'sum', 'DRIMPAIR_99':'sum', 'WEIGHT':'first'})


DRIMPAIR2 = DRIMPAIR2.groupby(['CASENUM'], as_index=False).agg({'DRIMPAIR_0':'sum','DRIMPAIR_1':'sum','DRIMPAIR_2':'sum','DRIMPAIR_3':'sum','DRIMPAIR_4':'sum','DRIMPAIR_5':'sum', 'DRIMPAIR_6':'sum', 'DRIMPAIR_7':'sum', 'DRIMPAIR_8':'sum', 'DRIMPAIR_9':'sum', 'DRIMPAIR_10':'sum', 'DRIMPAIR_95':'sum', 'DRIMPAIR_96':'sum', 'DRIMPAIR_98':'sum', 'DRIMPAIR_99':'sum'})

In [123]:
DRIMPAIR2.iloc[:20]

,CASENUM,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,201700000117,0,0,0,0,0,0,0,0,0,0
1,201700000119,0,0,0,0,0,0,0,0,0,0
2,201700000124,0,0,0,0,0,0,0,0,0,0
3,201700000144,0,0,0,0,0,0,0,0,0,0
4,201700000154,0,0,0,0,0,0,0,0,0,0
5,201700000162,0,0,0,0,0,0,0,0,0,0
6,201700000231,0,0,0,0,0,0,0,0,0,1
7,201700000251,0,0,0,0,0,0,0,0,0,0
8,201700000254,0,0,0,0,0,0,0,0,0,0
9,201700000286,0,0,0,0,0,0,0,0,0,0
10,201700000328,0,0,0,0,0,0,0,0,0,0
11,201700000337,0,0,0,0,0,0,0,0,0,0
12,201700000363,0,0,0,0,0,0,0,0,0,0
13,201700000401,0,0,0,0,0,0,0,0,0,0
14,201700000411,0,0,0,0,0,0,0,0,0,1
15,201700000421,0,0,0,0,0,0,0,0,0,0
16,201700000462,0,0,0,0,0,0,0,0,0,0
17,201700000508,0,0,0,0,0,0,0,0,0,0
18,201700000531,0,0,0,0,0,0,0,0,0,0
19,201700000538,0,0,0,0,0,0,0,0,0,0

In [124]:
# Now we need to merge with ACCIDENT dataset....
# Here's what ACCIDENT looks like at first

ACCIDENT.head()

,ALCHL_IM,ALCOHOL,CASENUM,CF1,CF2,CF3,DAY_WEEK,EVENT1_IM,HARM_EV,HOUR,...,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WEATHR_IM,WEIGHT,WKDY_IM,WRK_ZONE,YEAR,file
0,2,2,201700000117,0,0,0,4,12,12,17,...,2,1,1,0,1,29.270311,4,0,2017,2017__ACCIDENT.CSV
1,2,2,201700000119,0,0,0,5,12,12,7,...,3,1,1,0,1,62.100147,5,0,2017,2017__ACCIDENT.CSV
2,2,2,201700000124,0,0,0,6,12,12,13,...,2,1,1,0,1,181.168210,6,0,2017,2017__ACCIDENT.CSV
3,2,2,201700000144,0,0,0,5,12,12,20,...,2,10,10,0,10,27.870445,5,0,2017,2017__ACCIDENT.CSV
4,2,2,201700000154,0,0,0,4,12,12,20,...,2,10,10,0,10,236.352198,4,0,2017,2017__ACCIDENT.CSV

In [125]:
ACCIDENT2 = pd.merge(ACCIDENT, DRIMPAIR2, on='CASENUM')

In [126]:
ACCIDENT2.head()

,ALCHL_IM,ALCOHOL,CASENUM,CF1,CF2,CF3,DAY_WEEK,EVENT1_IM,HARM_EV,HOUR,...,DRIMPAIR_5,DRIMPAIR_6,DRIMPAIR_7,DRIMPAIR_8,DRIMPAIR_9,DRIMPAIR_10,DRIMPAIR_95,DRIMPAIR_96,DRIMPAIR_98,DRIMPAIR_99
0,2,2,201700000117,0,0,0,4,12,12,17,...,0,0,0,0,0,0,0,0,0,0
1,2,2,201700000119,0,0,0,5,12,12,7,...,0,0,0,0,0,0,0,0,0,0
2,2,2,201700000124,0,0,0,6,12,12,13,...,0,0,0,0,0,0,0,0,0,0
3,2,2,201700000144,0,0,0,5,12,12,20,...,0,0,0,0,0,0,0,0,0,0
4,2,2,201700000154,0,0,0,4,12,12,20,...,0,0,0,0,0,0,0,0,0,0

In [135]:
# Now I need to increment count in one column based on value in another
# In this case, we need to make age groupingsPERSON.head()

# https://stackoverflow.com/questions/16327055/how-to-add-an-empty-column-to-a-dataframe
# df["C"] = ""


PERSON["age_<16"] = ""
PERSON["age_16-24"] = ""
PERSON["age_25-54"] = ""
PERSON["age_55+"] = ""
PERSON["age_not_reported"] = ""
PERSON["age_unknown"] = ""

In [136]:
PERSON.head()

,AGE,AGE_IM,AIR_BAG,ALC_RES,ALC_STATUS,ATST_TYP,BODY_TYP,CASENUM,DRINKING,DRUGRES1,...,VEH_NO,VE_FORMS,WEIGHT,file,age_<16,age_16-24,age_25-54,age_55+,age_unknown,age_not_reported
0,48,48,20,995,8,95,4.0,201800381338,0,NaN,...,1,4,187.193308,2018__PERSON.CSV,,,,,,
1,43,43,20,995,8,95,14.0,201800381338,0,NaN,...,2,4,187.193308,2018__PERSON.CSV,,,,,,
2,37,37,20,995,8,95,14.0,201800381338,0,NaN,...,3,4,187.193308,2018__PERSON.CSV,,,,,,
3,67,67,20,995,8,95,9.0,201800381338,0,NaN,...,4,4,187.193308,2018__PERSON.CSV,,,,,,
4,32,32,20,996,0,0,9.0,201800381366,0,NaN,...,1,3,149.787336,2018__PERSON.CSV,,,,,,

In [137]:
# mask = (data['column2'] == 2) & (data['column1'] > 90)

PERSON.loc[(PERSON.AGE < 16), "age_<16"] = 1
PERSON.loc[(PERSON.AGE > 20) & (PERSON.AGE < 41), "age_16-24"] = 1
PERSON.loc[(PERSON.AGE > 20) & (PERSON.AGE < 41), "age_25-54"] = 1
PERSON.loc[(PERSON.AGE > 55), "age_55+"] = 1
PERSON.loc[(PERSON.AGE = 998), "age_not_reported"] = 1
PERSON.loc[(PERSON.AGE == 999) | (PERSON.AGE == ""), "age_unknown"] = 1

/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

In [155]:
# Finding row with specific value

#PERSON.loc[PERSON['AGE'] == 998]

PERSON.loc[PERSON['AGE'] == ""]

# Checking to see if there are any blanks...

#PERSON['AGE'].isnull().sum()

#PERSON['AGE'].isnull().values.any()

/home/home/Documents/WPI/sparkTest/my_venv/lib/python3.6/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

Empty DataFrame
Columns: [AGE, AGE_IM, AIR_BAG, ALC_RES, ALC_STATUS, ATST_TYP, BODY_TYP, CASENUM, DRINKING, DRUGRES1, DRUGRES2, DRUGRES3, DRUGS, DRUGTST1, DRUGTST2, DRUGTST3, DSTATUS, EJECTION, EJECT_IM, EMER_USE, FIRE_EXP, HARM_EV, HOSPITAL, HOUR, IMPACT1, INJSEV_IM, INJ_SEV, LOCATION, MAKE, MAK_MOD, MAN_COLL, MINUTE, MOD_YEAR, MONTH, PERALCH_IM, PER_NO, PER_TYP, PJ, PSU, PSUSTRAT, PSU_VAR, P_SF1, P_SF2, P_SF3, REGION, REST_MIS, REST_USE, ROLLOVER, SCH_BUS, SEAT_IM, SEAT_POS, SEX, SEX_IM, SPEC_USE, STRATUM, STR_VEH, TOW_VEH, URBANICITY, VEH_NO, VE_FORMS, WEIGHT, file, age_<16, age_16-24, age_25-54, age_55+, age_unknown, age_not_reported]
Index: []

[0 rows x 68 columns]

In [100]:
ACCIDENT2.columns

Index(['ALCHL_IM', 'ALCOHOL', 'CASENUM', 'CF1', 'CF2', 'CF3', 'DAY_WEEK',
       'EVENT1_IM', 'HARM_EV', 'HOUR', 'HOUR_IM', 'INT_HWY', 'LGTCON_IM',
       'LGT_COND', 'MANCOL_IM', 'MAN_COLL', 'MAXSEV_IM', 'MAX_SEV', 'MINUTE',
       'MINUTE_IM', 'MONTH', 'NO_INJ_IM', 'NUM_INJ', 'PEDS', 'PERMVIT',
       'PERNOTMVIT', 'PJ', 'PSU', 'PSUSTRAT', 'PSU_VAR', 'PVH_INVL', 'REGION',
       'RELJCT1', 'RELJCT1_IM', 'RELJCT2', 'RELJCT2_IM', 'REL_ROAD', 'SCH_BUS',
       'STRATUM', 'TYP_INT', 'URBANICITY', 'VE_FORMS', 'VE_TOTAL', 'WEATHER',
       'WEATHER1', 'WEATHER2', 'WEATHR_IM', 'WEIGHT_x', 'WKDY_IM', 'WRK_ZONE',
       'YEAR', 'file', 'DRIMPAIR_5', 'DRIMPAIR_6', 'DRIMPAIR_7', 'DRIMPAIR_8',
       'DRIMPAIR_9', 'DRIMPAIR_10', 'DRIMPAIR_95', 'DRIMPAIR_96',
       'DRIMPAIR_98', 'DRIMPAIR_99', 'WEIGHT_y'],
      dtype='object')